<!DOCTYPE html>
<html lang="pt-br"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" th:with="activeMenu='user-show'"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/js/datatables/dataTables.bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">-->

    <style>
      body {
        font-size: 140%;
      }

      table.dataTable th,
      table.dataTable td {
        white-space: nowrap;
      }
    </style>

    <title>Todos Usuários</title>
  </head>
  <body>
    <div layout:fragment="content" th:remove="tag">

      <div class="page-title">

        <div class="title-env">
          <h1 class="title">Usuários</h1>
          <p class="description">Exibição uma lista de todos usuários.</p>
        </div>
        <div class="breadcrumb-env">
          <th:block layout:fragment="bradcrumb">
            <ol class="breadcrumb bc-2">
              <li>
                <a th:href="@{/home}"><i class="fa-home"></i>Home</a>
              </li>
              <li>
                <a th:href="@{/usuarios}">Usuários</a>
              </li>
              <li class="active">
                <strong>Todos</strong>
              </li>
            </ol>
          </th:block>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Lista de todos Usuários</h3>
        </div>

        <div class="panel-body">
          <div class="">
            <table class="table table-responsive table-striped table-hover focus-on" id="users_table" >
              <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>username</th>
                <th>plate</th>
                <th>model</th>
                <th>type</th>
                <th>accountNonLocked</th>
                <th>enabled</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <th:block layout:fragment="scripts">
      <script th:src="@{/js/datatables/js/jquery.dataTables.min.js}"></script>
      <script th:src="@{/js/datatables/dataTables.bootstrap.js}"></script>
      <script th:src="@{/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

      <script th:src="@{/js/datatables/js/configurations.js}"></script>
    </th:block>
  </body>
</html>
